<component name="libraryTable">
  <library name="spring-context-5.3.9">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../_WorkSpace/SprngProject/L2C/libs/spring-context-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../_WorkSpace/SprngProject/L2C/libs/spring-context-support-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../_WorkSpace/SprngProject/L2C/libs/spring-core-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../_WorkSpace/SprngProject/L2C/libs/spring-beans-5.3.9.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/../../../_WorkSpace/SprngProject/L2C/libs/spring-context-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../_WorkSpace/SprngProject/L2C/libs/spring-context-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../_WorkSpace/SprngProject/L2C/libs/spring-context-support-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../_WorkSpace/SprngProject/L2C/libs/spring-core-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../_WorkSpace/SprngProject/L2C/libs/spring-core-5.3.9-sources.jar!/" />
    </SOURCES>
  </library>
</component>