<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="myFortune" class="com.wmi.springL2CXMLConfig.implFortune">
    </bean>

    <!-- Injection by Setter implementation 1-->
    <bean id="myImplCoach" class="com.wmi.springL2CXMLConfig.ImplCoach">
        <property name="fort" ref="myFortune"/>
    </bean>
    <!-- Injection by Constructor implementation 2-->
    <bean id="myImplCoach2" class="com.wmi.springL2CXMLConfig.ImplCoach2">
    <constructor-arg name="fort" ref="myFortune"/>
    <property name="emailAddressProperty" value="${application.email}"/>
    <property name="teamProperty" value="${application.team}"/>
    </bean>
</beans>
